<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for data in test %}
        <p>Modification de l'url : {{data.url}}</p>
        <div>
            <form action="" method="post">
                <input type="hidden" name="id" value={{data.id}}>
                <label for="content">Content</label>
                <p id="content">
                    {{data.content}}
                </p>
                <input type="text" name="content">
                <input type="hidden" name="url" value={{data.url}}>
                <button type="submit" name="btn" value="update">update</button>
            </form>
            {% if success %}
                {{success}}
                <a href="/admin/">Retourner sur la page admin</a>
            {% endif %}
        </div>
    {% endfor %}
</body>
<style>
    body {
        background-color: aquamarine;
    }
    p {
        font-size: 1.5rem;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form input {
        color: white;
        background-color: black;
        border: 1px solid rgb(255, 255, 255);
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        outline: none;
        margin-top: 1rem;
    }
    
</style>
</html>